* {
  margin: 0;
  padding: 0;
  // border: 1px solid black;
}

body {
  padding: 0rem 0rem 0rem 0rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1000px;
  min-width: 620px;
  min-height: 100%;
  position: relative;
  text-ren­der­ing: optimizeLegibility;
  // background-image:url('/imgs/textured_paper.png');
}

header {
  display: block;
  padding: 1rem 0rem 1rem 0rem;
  font-family: 'Lato', sans-serif;
  text-align: right;
  border-top: solid 1px black;
  p {
    text-align: right;
    font-size: 33px;
  }
}

#sidebar {
  padding: 3rem 1rem 10rem 0;
  width: 26%;
  height: 100%;
  max-width: 400px;
  // background-color: #FFF; 
  color: #000;
  font-family: 'Cutive', serif;
  font-size: 24px;
  text-align: left;

  table#icons {
    margin-left: auto;
    margin-right: auto;
    padding: 0 3px 0 10px;

    td {
      padding: 0 3px 0 1em;
    }

  }
    textarea#infoquote {
      // padding: 0 0 0 3em;
      border: 1px solid black;
      margin-left: 15px;
    }

  table {
    // padding: 0 0 0 0.50em;
    float: right;
    bottom: 0;
    list-style-type: none;
    line-height: 1.8;
    // border: 2px black solid;
  }
}

.main {
  padding: 3rem 0rem 0rem 0rem;
  margin: 0;
  position: absolute;
  width: 70%;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: 'Cutive', serif;
  line-height: 1.5;
}
 .posts {
    // padding: 25px 0;
    margin-bottom: 1.5em;
 }

 .post_category_line {
    padding: 20px 0; 
    border-bottom: 1px solid #ff0000;

    img {
      vertical-align: middle;
    }
 }
