* {
  border: 1px solid black;
}

div {
  display: block;
}

html, body, .container {
  background-color: #FFF;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin: 0px 0px 0px 0px;
}

header {
  display: block;
  padding: 50px 10% 10%;
}

#sidebar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  max-width: 500px;
}

.main {
  position: absolute;
  left: 25%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #FFF
}
