<!DOCTYPE html>
<html>
<head>
  <title>Blah blah</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Lato', 'Cutive']
      }
    });
  </script>
<body>
    <nav id="sidebar">
      <header>
       <p>Thomas's website</p>
      </header>
      <table id="icons">
        <tr>
          <td><img src="imgs/about-icon.jpg"></td>
          <td><img src="imgs/eye-icon.jpg"></td>
          <td><img src="imgs/lightbulb-icon.jpg"></td>
        </tr> 
      </table>
      <textarea rows="10" cols="30" id="infoquote">Stuff goes here.</textarea>
    </nav>
        <div class="main">
          {{ content }}
        </div>

    </body>
</html>
