<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{page.title}}</title>
	<link rel="stylesheet" type="text/css" href="/css/post.css">
  <script src="http://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Lato', 'Cutive']
      }
    });
  </script>
</head>
<body>

<h1 id="page_title">{{ page.title }}</h1>
<!-- <p class="meta">{{ page.date | date_to_string }}</p> -->

<div class="post">
{{ content }}
</div>
	
</body>
</html>

